html,body {
  margin: 0;
  padding: 0; 
  
}

* {
  box-sizing: border-box;
  color: #555;
  font-family: Menlo, Monaco, Consolas, "Helvetica Neue", Helvetica, "Courier New", 微软雅黑, monospace, Arial, sans-serif, 黑体;
  font-size: 14px;
}


ul {
  margin: 0;
  padding-left: 35px;
  line-height: 20px;
}

.side-right > ul {
  padding: 0;
}

li {
  list-style: none;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: #000;
}

.icon-square {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
    user-select: none
}

.icon-square-plus {
  display: none;
  user-select: none
}



.fold-view {
  display: none;
}

.side-top {
  height: 50px;
  border-bottom: #DDD 1px solid;
}

.side-left {
  border-right: #DDD 1px solid;
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  
  
}


.side-left textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
}

.side-right {
  position: absolute;
  left: 50%;
  top: 50px;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  padding: 10px;    
  overflow-y: scroll;
  word-break: break-all;
}


.keyval .key {
  color: #92278f;
  font-weight: bold;
}

.keyval .val {
  color: #3ab54a;
  font-weight: bold;
}

.keyval .val-String {
  color: #3ab54a;
}

.keyval .val-Number {
  color: #25aae2;
}

.keyval .val-Boolean {
  color: #f3934e;
}

.keyval .val-Null {
  color: #f34e5c;
}

.brace-end {
  margin-left: 20px;
}

.arrlen {
  color: #25aae2
}

.ex-alia {
  cursor: pointer;
  display: inline-block;
}