html,body {
  margin: 0;
  padding: 0; 
  color: #555;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-family: Menlo, Monaco, Consolas, "Helvetica Neue", Helvetica, "Courier New", 微软雅黑, monospace, Arial, sans-serif, 黑体;
  
}



textarea {
   color: #555;
}

ul {
  margin: 0;
  padding-left: 35px;
  line-height: 20px;
}

.side-right > ul {
  padding: 0;
}

li {
  list-style: none;
}

a, svg {
  transition: all,.5s,ease,0s;
  -webkit-transition: all,.5s,ease,0s;
}

a:link, a:visited {
  color: #999;
}

a:link svg, a:visited svg {
  fill: #999; 
}

a:active, a:hover {
  color: #f34e5c;
}

a:active svg, a:hover svg{
  fill: #f34e5c;
}


.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: #000;
}

.icon-square {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
    user-select: none
}

.icon-square-plus {
  display: none;
  user-select: none
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #f34e5c;
  padding: 10px;
}

.logo .on {
  color: #f34e5c;
  margin-right: 3px;
}

.slogan {
  font-size: 12px;
  color: #b1b1b1
}



.fold-view {
  display: none;
}

.side-top {
  height: 50px;
  border-bottom: #DDD 1px solid;
}

.top-right {
  float: right
}

.top-right a {
  display: inline-block;
  padding: 13px;
}



.side-left {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 40%;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(245, 244, 244, 0.52);
  
}


textarea {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
  font-size: 14px;;
  line-height: 1.42857143;
}

.side-right {
  position: absolute;
  left: 40%;
  top: 50px;
  bottom: 0;
  width: 60%;
  padding-left: 5px;
}

.right-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px; 
}


.right-main {
  width: 100%;
  height: 100%;
}

.view-code {
  width: 100%;
  height: 100%;
  padding: 10px;  
  overflow: hidden; 
  overflow-y: scroll;
  word-break: break-all;
}

.view-code > ul {
  padding: 0;
}

.view-error {
  padding: 10px;
  color: #f1592a;
  font-weight: bold;
  line-height: 25px;
}

.right-bar {
  height: 40px;
  border-bottom: #DDD 1px solid;
  width: 100%;
  position: absolute;
  top: 0px;
}

.right-bar svg {
  fill: #999;
  margin: 10px 0;
  margin-left: 20px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.icon.active-true {
  fill: #f34e5c
}


.keyval .key {
  color: #92278f;
  font-weight: bold;
}

.keyval .val {
  font-weight: bold;
}

.keyval .val-String {
  color: #3ab54a;
}

.keyval .val-Number {
  color: #25aae2;
}

.keyval .val-Boolean {
  color: #f3934e;
}

.keyval .val-Null {
  color: #f34e5c;
}

.brace-end {
}


.ex-alia {
  cursor: pointer;
  display: inline-block;
  color: #25aae2;
  padding: 0 2px;
}
 

.error-position {
    background-color: #ea1313;
    color: #FFF;
}


.json-link:link, .json-link:visited {
  color: #717171;
  text-decoration: none 
}
.json-link:hover, .json-link:active {
  color: #3ab54a;
}

.splitx {
  width: 5px;
  background-color: #EEE;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 40%;
  z-index: 100;
  cursor: w-resize;
  border-right: rgba(221, 221, 221, 0.34) 1px solid;
  border-left: rgba(221, 221, 221, 0.34) 1px solid;
}

.widnow-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: none
}